@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('variables.css');
@import url('base.css');

@import url('components/flex-grid.css');
@import url('components/buttons.css');
@import url('components/forms.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


img{
    width: 100%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:var(--c-licht-grijs);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(--c-donker-grijs);
    text-align: center;
    text-decoration: none;
    font: var(--t-primary);
  }
  div.hoofd{
    background-color: var(--c-primary);
    width: 100%;
    height: 5rem;
  }
  
li a:hover {
    color: var(--c-primary);
    border-bottom: var(--c-primary),solid,5px;
  }
div{
    background-color: var(--c-primary);
    width: 33%;
    margin: 20px;
}
p{
    font-family: var(--t-primary);
    padding: 10px;
    color: var(--c-wit)
}  
/*Style Gide*/ 
ul{
    padding: 10px;
}
li.een{
    background-color: var(--c-primary);
    width: 30%;
    padding: 10%;
}
li.twee{
    background-color: var(--c-primary);
}
h3{
    font: var(--t-primary),1.5rem;

}
h4{
    font: 800, var(--t-primary),caption,2rem;
}  
  