
:root {
  /**
   * Colour palette
   */
  --c-primary: hsla(226, 59%, 62%,1);
  --c-secondry: hsla(0,30%,30%,0.3);
  --c-licht-grijs: rgba(165, 165, 165,0.5);
  --c-donker-grijs:rgb(77,77,77);


  /**
   * Layout
   */
  --l-gutter: 1rem;

  /**
   * Typography
   */
  --t-primary: 'Open Sans', sans-serif;
  --t-secondary: 'Open Sans', sans-serif;

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
  --t-body: var(--t-secondary);
  --t-code: var(--t-tertiary);
}


